@model IEnumerable<Proyecto.Presentacion.Models.Vendedor>

@{
    ViewData["Title"] = "ListadoVendedores";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h1>Listado de Vendedores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ide_ven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sue_ven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fec_ing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_dis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ide_ven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sue_ven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fec_ing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_dis)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
